APP_PORT=
HOST_PORT=

ALLOWED_ORIGIN=

DB_HOST=
DB_PORT=
DB_HOST_PORT=
DB_DATABASE=kampung_budaya_2023
DB_USERNAME=
DB_PASSWORD=

GOOGLE_CLIENT_ID=

FIREBASE_BUCKET=
FIREBASE_IMAGE_URL=
FIREBASE_CREDENTIAL_PATH=

CONFIG_SMTP_HOST=
CONFIG_SMTP_PORT=
CONFIG_SENDER_NAME=
CONFIG_AUTH_EMAIL=
CONFIG_AUTH_PASSWORD=

SHEETS_ID=
SHEETS_CREDENTIAL_PATH=

SECRET_KEY=

GROUP_LINK_TARI=
GROUP_LINK_MUSIK=
GROUP_LINK_BUSANA_KREASI=
GROUP_LINK_STAND_BAZAR=
